<!DOCTYPE html>
<html>
<head>
    <title>Ticket</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <meta name="description" content="Ticket Project" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <link href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <style>
        .formBoarder{

            border: 1px solid #d500f9;
            margin: 15px;;
        }
        #eniams_ticketbundle_ticket_save{
            display: none;
        }
    </style>
</head>
<body class="container">
    <div class="row">
        <h1>Ticket's !</h1>
    </div>
    <div class="row">
        <button href="#" id="add_ticket" class="btn btn-default">Ajouter 1 billet</button>

        <div class="center align">
            <div id="myForm">

                {{ form_start(form) }}
                {{ form_row(form.visitDate) }}
                {{ form_row(form.nom) }}
                {{ form_row(form.prenom) }}

                {{ form_widget(form.reduction, {'label_attr': {'class': 'filled-in'}}) }}
                {{ form_label (form.reduction) }}


            </div>
            {{ form_widget(form.save, {'attr': {'class': 'btn blue lighten-2'}}) }}
            {{ form_end(form) }}

        </div>
    </div>
{% if allTickets %}
    <div class="row">
        <div class="center align">

            <div id="eniams_ticketbundle_ticket_reduction" data-prototype="<div>
            <label for=&quot;eniams_ticketbundle_ticket_reduction___name__&quot;>__name__label__</label>
            <input type=&quot;checkbox&quot; id=&quot;eniams_ticketbundle_ticket_reduction___name__&quot; name=&quot;eniams_ticketbundle_ticket[reduction][__name__]&quot; value=&quot;1&quot; /></div>">
            </div>
            {% for  ticket in allTickets %}
            <p>nom : {{ticket.nom  }}</p>
            <p> prenom : {{ ticket.prenom }}</p>


            {% endfor %}

        </div>
    </div>

{% endif %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datetimepicker.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datetimepicker.fr.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
    <script src="https://use.fontawesome.com/708d46d369.js"></script>
    <script src="{{ asset('js/main.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            $('label').addClass('toHide');
           // $('.toHide').css('display', 'none');

            var $container = $('#eniams_ticketbundle_ticket_nom'); //recupere input nom
            var $containerPrenom = $('#eniams_ticketbundle_ticket_prenom');
            var $containerReduction = $('#eniams_ticketbundle_ticket_reduction');

            var index = $container.find(':input').length;


            $('#add_ticket').click(function(e){

                addName($container, $containerPrenom, $containerReduction);
                e.preventDefault();
                return false;
            });
            $('.js-datepicker').datetimepicker({
                format: "dd MM yyyy - hh:ii",
                autoclose: true,
                language: 'fr',
                pickerPosition: "bottom-left"
            });


            function addIN($place, $insert){
                $place.append($insert);
            }

            function addName($container, $containerPrenom, $containerReduction)
            {
                var template = $container.attr('data-prototype')
                                .replace(/__name__label__/g, 'Nom visiteur n°' + (index+1))
                                .replace(/__name__/g, index);
                var $prototype = $(template);

                var templatePrenom = $containerPrenom.attr('data-prototype')
                                .replace(/__name__label__/g, 'Prenom visiteur n°' + (index+1))
                                .replace(/__name__/g, index);
                var $prototypePrenom = $(templatePrenom);

                var templateReduction = $containerReduction.attr('data-prototype')
                                .replace(/__name__label__/g, 'Reduction visiteur n°' + (index+1))
                                .replace(/__name__/g, index);
                var $prototypeReduction = $(templateReduction);


                $('#eniams_ticketbundle_ticket_save').css('display', 'block');

                var $divForm = $('<div class="formBoarder col s12">');
                var $divInput = $('<div class="input-field col s4">');
                var $divInputPrenom = $('<div class="input-field col s4">');
                var $divInputReduction = $('<div class="input-field col s4">');


                $('form').append($divForm);


                /* TO DO Factoriser ce code en fonction
                addIN($divForm,$divInput);
                addIN($divInput,$prototype);

                addIN($divInput,$prototypePrenom);
                addIN($divForm,$divInput);

                 */

                $divInput.append($prototype);
                $divForm.append($divInput);

                $divInputPrenom.append($prototypePrenom);
                $divForm.append($divInputPrenom);

                $divInputReduction.append($prototypeReduction);
                $divForm.append($divInputReduction);

                index++;

            }


        });

    </script>



</body>
</html>
