<!DOCTYPE html>
<html>
<head>
    <title>Ticket</title>


        <link rel="stylesheet" type="text/css" media="screen" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">

    <meta name="description" content="Ticket Project" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
       
        .formBoarder{
            padding: 25px;
            border: 1px solid #d500f9;
            margin: 15px;;
        }
        .hour, .minute{
            padding: 5px;
        }
        th{
            padding:20px !important;
        }
        .switch, .prev, .next{
            background-color: greenyellow;
        }
        #eniams_ticketbundle_ticket_save{
            display: none;
        }
    </style>
</head>
<body class="container">
    <div class="row">
        <h1>Ticket's !</h1>
    </div>
    <div class="row">
        <button href="#" id="add_ticket" class="btn btn-default">Ajouter 1 billet</button>

        <div class="center align">
            <div id="myForm">

                {{ form_start(form) }}
        <div class="form-group">
	{{form_label(form.visitDate, "Date et Heure de la visite") }}
	{{ form_widget(form.visitDate, {'attr': {'placeholder': 'Cliquer pour ajouter une date et l\'heure', 'class':'js-datepicker form-control'}}) }}
        </div>
     

                {{ form_row(form.nom) }}
                {{ form_row(form.prenom) }}

                {{ form_row(form.reduction) }}


            </div>
            {{ form_widget(form.save, {'attr': {'class': 'btn blue lighten-2'}}) }}
            {{ form_end(form) }}

        </div>
    </div>
{% if allTickets %}
    <div class="row">
        <div class="center align">

            <div id="eniams_ticketbundle_ticket_reduction" data-prototype="<div>
            <label for=&quot;eniams_ticketbundle_ticket_reduction___name__&quot;>__name__label__</label>
            <input type=&quot;checkbox&quot; id=&quot;eniams_ticketbundle_ticket_reduction___name__&quot; name=&quot;eniams_ticketbundle_ticket[reduction][__name__]&quot; value=&quot;1&quot; /></div>">
            </div>
            {% for  ticket in allTickets %}
            <p>nom : {{ticket.nom  }}</p>
            <p> prenom : {{ ticket.prenom }}</p>


            {% endfor %}

        </div>
    </div>

{% endif %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datetimepicker.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datetimepicker.fr.js') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{ asset('js/main.js') }}"></script>

</body>
</html>
